.HeadBar {
  background-color: red;
}

.HeadBar #logo {
  text-align: center;
}

.HeadBar #header {
  text-align: center
}


.Meat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ButtonContainer {
  display: flex;
  justify-content: space-around;
}

.ButtonContainer button {
  background-color: red;
  color: white;
  display: block;
  font-size: 16px;
  padding: 14px 28px;
  width: 100%;
  border: none;
}

.ButtonContainer button:hover {
  background-color: rgb(134, 134, 134);
}

.grid line {
  stroke: rgb(134, 134, 134);
}